@page "/vybaveni_nemocnice/{Id:guid}"
@inject HttpClient Http
@using Ppt23.Shared

@if(vybaveni == null)
    { return; }

<h3 class="font-bold p-5">VybaveniDetail @vybaveni.Name</h3>

<div class="grid grid-cols-2">
    
        <div>Id:</div>
        <div>@vybaveni.Id</div>
    
        <div>Název:</div>
        <div>@vybaveni.Name</div>
    
        <div>Cena:</div>
        <div>@vybaveni.Price</div>  
    
        <div>Datum nákupu:</div>
        <div>@vybaveni.BoughtDateTime</div>   
    
        <div>Poslední revize:</div>
        <div>@vybaveni.LastRevisionDateTime</div>
    
</div>


@code{

    [Parameter] public Guid Id { get; set; }
    VybaveniVm? vybaveni;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        vybaveni = await Http.GetFromJsonAsync<VybaveniVm>($"vybaveni_nemocnice/{Id}");
    }
    
}