@page "/vybaveni_nemocnice/{Id:guid}"
@inject HttpClient Http
@using Ppt23.Shared

@if(vybaveni == null)
    { return; }

<h3>VybaveniDetail</h3>

<div class="grid grid-cols-1">
    <div>Id: @vybaveni.Id</div>
    <div>Název: @vybaveni.Name</div>
    <div>Cena: @vybaveni.Price</div>
    <div>Datum nákupu: @vybaveni.BoughtDateTime</div>
    <div>Poslední revize: @vybaveni.LastRevisionDateTime</div>
</div>


@code{

    [Parameter] public Guid Id { get; set; }
    VybaveniVm? vybaveni;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        vybaveni = await Http.GetFromJsonAsync<VybaveniVm>($"vybaveni_nemocnice/{Id}");
    }
    
}